fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic-settings==2.7.1
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
alembic==1.14.0
pytest==8.3.4
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.20
email-validator==2.2.0
pymupdf==1.25.1
pytesseract==0.3.13
pillow==10.4.0
fastembed==0.5.1
qdrant-client==1.12.1
groq==0.13.1
langgraph==0.2.62
streamlit==1.41.1
requests==2.32.3
